<div class="listOfRecipes">
  <h2 id="all-recipes-title">All Posted Recipes:</h2>
  <h4 id="filter-title">Filter Recipes by Taste:</h4>
  <button class="submit" id="savory">Savory Recipes</button>
  <button class="submit" id="sweet">Sweet Recipes</button>
  <button class="submit" id="beverage">Beverage Recipes</button>

  {{#each recipes as |recipe| }}
  <div class="recipe-wrapper">
    <div class="col-md-5">
      <h2>
        {{{get_emoji}}}
        <a class="recipe-title" href="/recipe/{{recipe.id}}">{{recipe.title}}</a>
      </h2>

      <p class="author">Posted by {{recipe.user.username}} on {{format_date recipe.createdAt}}</p>
    </div>
    <div class="col-md-7">
      <p>
        {{recipe.recipe_text}}
      </p>
    </div>
  </div>
  {{/each}}
  <script src="/js/filter.js"></script>
</div>